.container-postit-area {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0 12px;
	gap: 16px;
}

/* .form-postit {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 12px;
	align-self: stretch;
}

.form-postit h3 {
	align-self: center;
}

.form-postit form {
	gap: 15px;
}

form.form-postit input[type="text"], 
form.form-postit textarea {
	border-radius: 4px;
	border: solid #5C5C5C 1px;
	padding: 8px;
	font-size: 1rem;
	width: 265px;
}

form.form-postit textarea {
	max-width: 265px;
	height: 140px;
} */

form .options-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	align-self: stretch;
}

form .form-postit-buttons {
	justify-content: flex-end;
}

form .form-postit-buttons button {
	border: solid var(--black) 1px;
	border-radius: 100px;
	height: 2.3rem;
	width: 5rem;
}

#btn-postit {
	color: white;
	background-color: var(--black);
}

#btn-postit:hover {
	color: var(--black);
	background-color: white;
	cursor: pointer;
}

#btn-limpar {
	background-color: white;
}

#btn-limpar:hover {
	cursor: pointer;
	font-weight: bold;
}

#btn-limpar:active {
	color: white;
	background-color: var(--black);
}

#btn-cancel {
	display: none;
	background-color: white;
}

#btn-cancel:hover {
	cursor: pointer;
	font-weight: bold;
}

#btn-cancel:active {
	color: white;
	background-color: var(--black);
}

#btn-test {
	display: none;
	color: white;
	background-color: var(--black);
}

#btn-test:hover {
	color: var(--black);
	background-color: white;
	cursor: pointer;
}


.options-panel select {
	border-radius: 5px;
	height: 32px;
	padding: 0 5px;
}

.options-panel input[type="checkbox"] {
	margin-right: -5px;
	margin-left: 10px;
}

.posts-recentes-comunidade {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.postit-area {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.post-it {
	width: 200px;
	height: 190px;
	background-color: var(--yellow);
	word-wrap: break-word;
	padding: 4px;
	overflow: hidden;
}

.post-it h4 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

:root {
	--white: #F6FEFC;
	--black: #1D192B;
	--yellow: #FFC03F;
	--blue: #9FD5DF;
	--pink: #F0A2A2;
	--green: #A2D5C3;
	--screen-width: 1024px;
}

@font-face {
	font-family: 'Roboto';
	src: url('../assets/fonts/Roboto-Regular.ttf'),
}

body {
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background: url("../assets/img/postit_backgroundpostit_background.png");
}

@media (max-width: 1024px) {
	body {align-items: normal;}
}

header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-right: 24px;
	gap: 48px;
	height: 100px;
	align-self: stretch;
	/* border-bottom: 2px solid #CAC4D0; */
}

main {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 10px;
	flex: none;
	flex-grow: 0;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	isolation: isolate;
	flex: none;
	align-self: stretch;
	flex-grow: 1;
}

header ul {
	list-style-type: none;
	overflow: hidden;
}

header ul li {
	float: left;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--white);
	border: 1px solid #79747E;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}

header ul li:hover {
	background: rgba(29, 25, 43, 0.08);
}

header ul li:hover a{
	font-weight: bold;
}

header ul li a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #222;
}

.container-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px 0px 0px;
	width: var(--screen-width);
	background-color: var(--white);
	flex: none;
	order: 0;
	flex-grow: 1;
}

.container-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	isolation: isolate;
	flex: none;
	align-self: stretch;
	flex-grow: 1;
}

img.logo {
	width: 200px;
	height: 100px;
}

img.logo:hover {
	cursor:pointer;
}

.btn-segment {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 48px;
	flex: none;
	order: 0;
	flex-grow: 1;
	z-index: 0;
}

header ul li#btn-principal {
	border-radius: 100px 0px 0px 100px;
}

header ul li#btn-contatos {
	border-radius: 0px 100px 100px 0px;
}

.dropdown-contatos {
	display: none;
	position: absolute;
	background-color: var(--white);
	min-width: 200px;
	margin-top: 183px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

header ul li#btn-contatos:hover .dropdown-contatos {
	display: block;
}

header ul li#btn-contatos:hover .dropdown-contatos a {
	font-weight: 400;
	padding: 8px 0 8px;
}

header ul li#btn-contatos:hover .dropdown-contatos a:hover {
	background-color: rgba(29, 25, 43, 0.08);
}

header .user-area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	gap: 10px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
}

header #username:hover{
	cursor: pointer;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: var(--screen-width);
	height: 80px;
	flex: none;
	align-self: stretch;
	flex-grow: 0;
}

img.logoF {
    height: 60px;
}

footer .textN {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 24px;
    height: 42px;
    background: var(--yellow);
    border-radius: 100px;
}

footer span.nomes {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--white);
}

footer span.ano {
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    order: 3;
}
@import './main.css';

.table-section {
	padding: 1.2rem;
}

.table-section .table-conector {
	background-color: #FFF;
	border: solid var(--black) 1px;
	border-radius: 7px;
}

.content-table {
	border-collapse: collapse;
	width: 100%;
}

.content-table thead tr {
	border-bottom: solid 3px var(--blue);
	text-align: left;
}

.content-table thead tr img {
	vertical-align: middle;
}

.content-table th, .content-table td {
	padding: 12px 15px;
}

.content-table tbody tr > td:first-child {
	padding: 0 4px;
	height: fit-content;
	width: 12px;
}

.content-table tbody tr > td:first-child img {
	padding: 4px;
}

.content-table tbody tr > td:first-child img:hover{
	border-radius: 100px;
	background-color: #F6FEFCC9;
}

.content-table tbody tr > td:first-child img:active{
	background-color: #F35757;
}

.content-table tbody tr:hover {
	background-color: var(--blue);
}

div.tfoot {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	gap: 16px;
	height: 46px;
	border-top: solid var(--blue) 3px;
	padding-right: 12px;
}

div.tfoot button {
	border: none;
	background-color: var(--white);
	padding: 3px;
	border-radius: 100px;
}

div.tfoot button:hover{background-color: #DDD;} 
div.tfoot button:active{background-color: #CCC;}